body {
  background-color: #F76B1D;
  background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
  padding: 36px 10px 36px;
}



@font-face {
  font-family: Proxima Nova;
  src: url('../fonts/proximanova-regular-webfont.woff2');
}

* {
  transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out, fill .15s ease-out, box-shadow .15s ease-out;
}

.presuade {
  background-image: url('../images/resilience.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0;
  background-color: hsla(0,0%,100%,.1);
  box-shadow: inset 0 -130px 200px -50px rgba(0,0,0,.5);

  img {
    width: 100%;
    visibility: hidden;
  }

  .headline {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;

    h1,
    h2 {
      color: white;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    }

    h1 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

.body {
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;

  .story {
    margin: 20px auto 0;
    max-width: 400px;

    a {
      color: #666;
      position: relative;
      text-decoration: underline;
    }

    a:hover {
      color: #aaa;
    }
  }

  p {
    color: #666;
    font-family: Proxima Nova, Tahoma, Helvetica, Verdana, sans-serif;
    line-height: 1.4;
    margin: 0 0 0.75em;
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 0;

  li {

    a {
      display: block;
      height: 36px;
      margin: 10px;
      width: 36px;

      &, &:hover {
        text-decoration: none;
      }

      &:hover {
        svg {
          fill: #36474e;
        }
      }

      svg {
        fill: rgba(54,71,78,.7);
        width: 36px;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  body {
    padding-top: 10px;
  }
}
